
@import '../../node_modules/@angular/material/theming';
@import '../app/components/toolbar/toolbar-theme';
@import '../app/components/footer/footer-theme';
@import '../app/app-theme';

@mixin components-theme($theme) {
  @include toolbar-theme($theme);
  @include app-theme($theme);
  @include footer-theme($theme);
}

// Define the default light theme.
// It is necessary for the correct start of the application.
$primary: mat-palette($mat-light-blue, 50);
$accent:  mat-palette($mat-light-blue, 500);
$theme: mat-light-theme($primary, $accent);
